<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Comentários</title>

    <style>
        body {
            font-family: 'montserrat';
            background-color: black;
            color: white;
        }

        input {
            display: block;
            margin-bottom: 10px;
            padding: 6px;
            width: 300px;
        }

        table {
            margin-top: 20px;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid white;
            padding: 8px;
        }
    </style>
</head>

<body>

<h1>Deixe aqui seu comentário!</h1>

<form action="{{ url_for('formulario') }}" method="POST">

    <label>Sobre qual jogo você irá falar?</label>
    <input type="text" name="jogo" required>

    <label>Email:</label>
    <input type="email" name="email" required>

    <label>Nome:</label>
    <input type="text" name="nome" required>

    <label>Comentário:</label>
    <input type="text" name="comentario" required>

    <input type="submit" value="Enviar">
    <input type="reset" value="Limpar">

</form>

<hr>

<h1>Comentários</h1>

<table>
    {% for c in listaComentarios %}
    <tr>
        <td>
            {{ c.jogo }} <br>
            {{ c.nome }}: {{ c.comentario }}
            <hr>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>