<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <style>
         body {
            font-family: 'montserrat';
          background-color: black;
          background-size: cover;        
          background-position: center;   
          background-repeat: no-repeat;                  
          }   
          h1{
            color: aliceblue;
          }
            h2{
            color: aliceblue;
          }

            h3{
            color: aliceblue;
          }

            label{
            color: aliceblue;
          }

    </style>
<body>

    <h1>Deixe aqui seu comentário!</h1>
    <form>
    
    <label>Sobre qual jogo você irá falar?</label>
    <input type="text">

    <br><br>

    <label>Qual é o seu email?</label>
    <input type="email">
            <br><br>

    <label>Qual é o seu nome?</label>
    <input type="name">
        <br><br>
    <label>Escreva seu comentário.</label>
    <input>

    <br><br>

    <input type="submit" value="Enviar">

</form>
</body>
</html>