<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Legend of Zelda - fórum</title>
    <style>
         body {
            text-align: center;
            font-family: 'montserrat';
          background-color: black;
          background-size: cover;        
          background-position: center;   
          background-repeat: no-repeat;                  
          }   
          h1{
            color: aliceblue;
          }
            h2{
            color: aliceblue;
          }

            h3{
            color: aliceblue;
          }

    </style>
</head>
<body>
    <h1>The Legend of Zelda - fórum</h1>
    <h3>Deixe seu comentário para que seja possível discussões saudáveis sobre a franquia!</h3>
    <hr>
     <li class="nav-item">
          <a class="nav-link" href="{{url_for('formulario')}}" style="color: aliceblue; font-size: 50px;">Cadastrar jogo</a>
</body>
</html>