<!DOCTYPE html>
<html lang="en">
<head>
        <style>
         body {
            font-family: 'montserrat';
          background-color: black;
          background-size: cover;        
          background-position: center;   
          background-repeat: no-repeat;                  
          }   
          h1{
            color: aliceblue;
          }
            h2{
            color: aliceblue;
          }

            h3{
            color: aliceblue;
          }
            td{
            color: aliceblue;
          }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

<h1>
    Comentários
</h1>

<table>
    <tr>
        <td>
            The Legend of Zelda: Tears of the Kingdom <br>
            osDoisNe: Tears of the Kingdom ruim Skyward Sword peak
            <hr>
        </td>
    </tr>
 
    <tr>
        <td>The Legend of Zelda: Phantom Hourglass<br>
        euAmoSlop: jogaço
        <hr>
    </td> 
    </tr>

    <tr>
        <td>The Legend of Zelda: Majora's Mask<br>
        O vaziiio...</td>
    </tr>
</table>

</body>
</html>