<!DOCTYPE html>
<html lang="pt-br">
<head>
    <style>
        body {
            font-family: 'montserrat';
            background-color: black;
            background-size: cover;        
            background-position: center;   
            background-repeat: no-repeat;                  
        }   

        h1, h2, h3, td {
            color: aliceblue;
        }

        table {
            width: 100%;
        }
    </style>

    <meta charset="UTF-8">
    <title>Comentários</title>
</head>

<body>

<h1>Comentários</h1>

<table>

    {% for c in listaComentarios %}
    <tr>
        <td>
            {{ c.jogo }} <br>
            {{ c.nome }}: {{ c.comentario }}
            <hr>
        </td>
    </tr>
    {% endfor %}

</table>

</body>
</html>